guix-load \
    guile \
    guile-json \
    guile-g-golf \
    gtk \
    gtk4-layer-shell

export LD_PRELOAD=$GUIX_LOAD_PROFILE/lib/libgtk4-layer-shell.so
export GUILE_LOAD_PATH=$(pwd):$GUILE_LOAD_PATH
